<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: Owais
 * Date: 12/03/21
 * Time: 7:00 PM
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="eguana_contactus" frontName="eguana_contactus">
            <module name="Eguana_Contactus"/>
        </route>
    </router>
</config>
