<?xml version="1.0"?>
<!--
 * @author Eguana Team
 * @copyriht Copyright (c) 2019 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Eguana_CheckoutSuccess">
        <sequence>
            <module name="Magento_Checkout"/>
            <module name="Eguana_Base"/>
        </sequence>
    </module>
</config>
