<?xml version="1.0"?>
<!--
/**
* @author Eguana Team
* @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
* Created by PhpStorm
* User: Abbas
* Date: 12/01/2023
* Time: 2:28 PM
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="eguanasociallogin" frontName="eguanasociallogin">
            <module name="Eguana_SocialLogin"/>
        </route>
    </router>
</config>
