<?xml version="1.0"?>
<!--
 * @author Eguana Team
 * @copyriht Copyright (c) 2019 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm.
 * User: Rana
 * Date: 18/09/2022
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="eguana_extensions_tab" translate="label" sortOrder="69" class="eguana-tab">
            <label>Eguana Extensions</label>
        </tab>
    </system>
</config>
