<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: Owais
 * Date: 12/03/21
 * Time: 7:00 PM
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="eguana_contactus_post_plugin" type="Eguana\Contactus\Plugin\Controller\Index\Post"/>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contactform_contact_listing_data_source" xsi:type="string">Eguana\Contactus\Model\ResourceModel\Contactus\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Eguana\Contactus\Api\ContactusRepositoryInterface" type="Eguana\Contactus\Model\ContactusRepository"/>
    <preference for="Eguana\Contactus\Api\Data\ContactusInterface" type="Eguana\Contactus\Model\Contactus"/>
    <preference for="Eguana\Contactus\Api\Data\ContactusSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magento\Contact\ViewModel\UserDataProvider" type="Eguana\Contactus\ViewModel\UserDataProvider"/>
</config>
