<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eguana_Download::download"
             title="Download"
             translate="title"
             module="Eguana_Download"
             parent="Eguana_Base::extensions"
             sortOrder="70"
             action="eguana_download/index/index"
             resource="Eguana_Download::download"/>
    </menu>
</config>
