<?xml version="1.0"?>
<!--
 * @author Eguana Team
 * @copyriht Copyright (c) 2019 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm.
 * User: Rana
 * Date: 18/09/2022
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Eguana_Base::extensions" title="Eguana Extensions" sortOrder="60">
                    <resource id="Eguana_Base::extension" title="Extension Menu" sortOrder="10">
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Eguana_Base::configuration" title="Eguana Extension Information" sortOrder="999"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
