<?xml version="1.0"?>
<!--
/**
 * @author Eguana Team
 * @copyriht Copyright (c) 2020 Eguana {http://eguanacommerce.com}
 * Created by PhpStorm
 * User: Owais
 * Date: 12/03/21
 * Time: 7:00 PM
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="notifications_listing_data_source" xsi:type="string">NotificationsGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="NotificationsGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">eguana_product_alert_selling</argument>
            <argument name="resourceModel" xsi:type="string">Eguana\NotifyMe\Model\ResourceModel\Notification</argument>
        </arguments>
    </virtualType>
    <preference for="Eguana\NotifyMe\Api\NotificationRepositoryInterface" type="Eguana\Contactus\Model\NotificationRepository"/>
    <preference for="Eguana\NotifyMe\Api\Data\NotificationInterface" type="Eguana\NotifyMe\Model\Notification"/>
    <preference for="Eguana\NotifyMe\Api\Data\NotificationSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
